.head-section {
  /* text-align: center; */
  text-decoration: none;

  font-weight: 600;
  font-size: 14px;
}
.header span {
  margin-right: 40px;
}
.ant-list-header {
  padding: 0 !important;
}
.cols {
  /* margin-left: 30px; */
  padding-left: 50px;
  /* color: aliceblue; */
}
.ant-divider-inner-text {
  display: flex !important;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  margin: 0 !important;
}
.page-header-name div {
  width: 8px;
  height: 31px;
  background: #f17228;
  margin-right: 10px;
}
.ant-checkbox {
  width: 16px !important;
}
.ant-pagination-options {
  display: none !important;
}
.ant-pagination {
  display: flex;
  justify-content: center;
}
.lists {
  display: flex;
  margin-bottom: 5px;
  padding: 0px 50px 0px 50px;
}
.select-status {
  border: none;
  border-radius: 10px;
  padding: 5px;
  width: 120px;
  background-color: #d7e8ff;
}
.date {
  width: 120px;
  margin-left: 60px;
}
.order-number {
  width: 120px;
}
.user {
  width: 120px;
}
.order {
  width: 120px;
}
.see-more {
  margin-left: 10px;
}
.ant-drawer-mask {
  display: none !important;
}
.ant-drawer-content-wrapper {
  box-shadow: none !important;
}
.see-button {
  border: none;
  background-color: white;
  padding: 0;
}
.ant-drawer-wrapper-body {
  background-color: #f9f9f9;
}
.details-order-upper-section {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
}
.details-order-upper-section div {
  display: flex;
  justify-content: space-between;
}
.details-order-upper-section div p span {
  color: #f17228;
  margin-left: 10px;
}
.price {
  color: #f17228;
  font-size: larger;
  font-weight: 600;
}
.details-order-upper-section h5 {
  font-size: larger;
}
.details-order-upper-section hr {
  border: #fef3e9 1px solid;
}
.total {
  color: #f17228;
  font-size: larger;
  font-weight: 700;
}
.ant-dropdown-menu-item:hover {
  background-color: white !important;
}
