.loginForm {
  background-color: white;
  padding: 100px;
  border-radius: 5%;
  /* margin-left: 45%; */
}

.inner {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../pictures/images/login-background1.png);
  background-size: cover;
  width: 50vw;
  height: 100vh;
}
.login-form {
  width: 50vw;
  margin: auto;
  padding: 150px;
}
.login-right {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url(../pictures/images/login-background1.png);

  background-size: cover;
  display: flex;
  width: 100vw;
}
.logo-of-form {
  display: flex;
}
.logo-of-form p {
  margin: 0;
}
